<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>

    This app idea inspired by <a href="https://blog.angularindepth.com/keeping-browser-tabs-in-sync-using-localstorage-ngrx-and-rxjs-87de3bca4e2c" target="_blank">this</a> tutorial.
 
  </p>
  <p>

    Question is; How do we keep multiple tabs sync?

    With ngxs, localstorage and rxjs its possible.

    How;

  </p>
  <ul>

    <li><strong>Ngxs</strong> for state management (Best state management library + pattern for Angular projects)</li>
    <li><strong>localStorage</strong> for keeping actions</li>
    <li>Rxjs for detecting changes on window.storage with <strong>fromEvent</strong>> operator</li>

  </ul>
</div>


<router-outlet></router-outlet>
